<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tutorialsface.audioplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
<uses-permission android:name="android.permission.clear_app_user_data"/>
   <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
   	 android:name="info.androidhive.listviewfeed.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tutorialsface.audioplayer.MusicActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
          <activity
            android:name="com.tutorialsface.audioplayer.ElamenuActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity android:name="com.tutorialsface.audioplayer.PreferencesExampleActivity"/>
        <activity android:name="com.tutorialsface.audioplayer.settings">          
        <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.AudioPlayerActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
 <activity
            android:name="com.tutorialsface.audioplayer.FeedActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.tutorialsface.audioplayer.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.tutorialsface.audioplayer.GeneralActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.apartfaceActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.tutorialsface.audioplayer.openingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.tutorialsface.audioplayer.apartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.tutorialsface.audioplayer.HouseActivity" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.tutorialsface.audioplayer.AlertActivity" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.tutorialsface.audioplayer.HomeOfficeActivity" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.tutorialsface.audioplayer.EntertainmentActivity" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.LaundryActivity" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.KitchenActivity" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.tutorialsface.audioplayer.CeilingFanActivity" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.AirConditionerActivity" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.VaccumCleanerActivity" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.MenuActivity" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.tutorialsface.audioplayer.SpinnerActivityTwo" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
          </activity>
            <activity
            android:name="com.tutorialsface.audioplayer.SpinnerActivity2" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
          </activity>
         <activity
            android:name="com.tutorialsface.audioplayer.SpinnerActivity" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.TestActivity" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name="com.tutorialsface.audioplayer.EskomActivity" >
        </activity>
         <activity
            android:name="com.tutorialsface.audioplayer.login_activity" 
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                
                    <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
         <activity
            android:name="com.tutorialsface.audioplayer.StarActivity" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                
                    <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
           
        </activity>
         <activity
            android:name="com.tutorialsface.audioplayer.RemoveActivity" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                
                    <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
           
        </activity>
         <activity
            android:name="com.tutorialsface.audioplayer.forum" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                
                    <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.SigninActivity" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                
                    <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
                 <activity
            android:name="com.tutorialsface.audioplayer.Register_activity" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                
                    <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>       
        </activity>
          <activity
            android:name="com.tutorialsface.audioplayer.BoxRegister" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                
                    <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.UpdateActivity" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.ProfileActivity" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.NumberActivity" >
             <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name="com.tutorialsface.audioplayer.ExpendableRooms" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity 
         android:hardwareAccelerated="true"
         android:name="com.tutorialsface.audioplayer.BulbsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity 
         android:hardwareAccelerated="true"
         android:name="com.tutorialsface.audioplayer.Mainmenu" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.androidhive.listviewfeed.FeedActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.tutorialsface.audioplayer.AirConditionerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.tutorialsface.audioplayer.VaccumCleanerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.tutorialsface.audioplayer.GeyserActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.tutorialsface.audioplayer.CeilingFanActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.ComputerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.ElectricFanActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.DishWasherActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.CoffeMakerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.PrinterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.CopyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.DryerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.DstvActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.HomeTheatreActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name="com.tutorialsface.audioplayer.ListViewImagesActivitybulbs" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tutorialsface.audioplayer.FeedActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tutorialsface.audioplayer.ElecmenuActivity"
                    android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.tutorialsface.audioplayer.NetworkStatusChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.tutorialsface.audioplayer.service.SongService"
            android:exported="true" 
            android:enabled="true"/>

        <receiver android:name="com.tutorialsface.audioplayer.receiver.NotificationBroadcast" >
            <intent-filter>
                <action android:name="com.tutorialsface.audioplayer.delete" />
                <action android:name="com.tutorialsface.audioplayer.pause" />
                <action android:name="com.tutorialsface.audioplayer.next" />
                <action android:name="com.tutorialsface.audioplayer.play" />
                <action android:name="com.tutorialsface.audioplayer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>